bin/
obj/

*.swp
*.swo
*.bak
.cdtproject
\#*#
*~
.#*

*.out
*.files

*.a
*.o
*.obj
*.ppc*
.pydevproject
obj.ppc/
*.lib
.markfile_swu/
*.eln
*.elb
*.jar
*.war
*.lst

*.sl
*.elf
*.s1
*.hex

*.P
*.d
ppc.mk
ppc*.mk
i686.mk
grp.mk
.grp.mk*
.jvm.mk*
*.targets
.bs-makecmd
*.pp
emake.data
.cmake.state

.ctrlp
